@font-face {
    font-family: 'RobotoSlabRegular';
    src: url(../fonts/roboto-slab/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: 'SocialMediaFont';
    src: url(../fonts/social_media_circled/Social-Media-Circled.otf);
}